/* Charts Section----------------------------------------------------------------- */
#charts{
  height: 100%;
}

.chart{
  width: 100%;
  height: 96.5%;
}

.chart_container{
  margin: auto;
  background-color: white;
  border: 2px solid #143870;
  border-radius: 39px;
  height: 290px;
  width: 90%;
  margin-top: 100px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.row{
  height: 100%;
}

.col-md-6{
  padding: 0;
  margin: 0;
}

/* media queries--------------------------------------------------------------------- */
@media (max-width: 1200px) {
    .chart_container{
      margin: auto;
      height: 290px;
      width: 90%;
      margin-top: 50px;
      margin-bottom: 0;
      padding: 0;
    }
}
