/* search bar section/table container--------------------------------------------------------------------- */
.tables-container{
    height: 100%;
  }
  
  .searchBar{
    background-color: white;
    min-height: 12%;
    max-height: 12%;
    display: inline-block;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0;
    padding-top: 50px;
  }
  
  .info {
    border:  #1B478A 2px solid;
    background-color: white;
    color:   #1B478A;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .info:hover {
    background:  #1B478A;
    color: white;
  }
  
  .textbox{
    height: 35px;
    border: none;
    border-radius: 10px;
    outline: 0;
    width: 306px;
    padding: 10px;
    font-size: 16px;
  }
  
  .float-container{
    float: right;
    border: 2px solid  #1B478A;
    border-radius: 10px;
    height: 40px;
    width: 310px;
  }
  
  .edit{
    background-color: #F5F7FC;
    border: 2px solid #4B4D4F;
    border-radius: 10px;
  }
  
  .delete{
    background-color: #F5F7FC;
    border: 2px solid #EF5D58;
    border-radius: 10px;
  }
  
  .return{
    background-color: #F5F7FC;
    border: 2px solid #EBF071;
    border-radius: 10px;
  }
  
  .borrow{
    background-color: #F5F7FC;
    border: 2px solid #1B478A;
    border-radius: 10px;
  }
  
  .edit:hover{
    background-color: #4B4D4F;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .delete:hover{
    background-color:  #EF5D58;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .return:hover{
    background-color: #EBF071;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .borrow:hover{
    background-color:  #1B478A;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .fa-pencil-alt{
    color: #4B4D4F;
  }
  
  .fa-trash{
    color:  #EF5D58;
  }
  
  .fa-download{
    color: #EBF071;
  }
  
  .fa-upload{
    color:#1B478A;
  }
  
  .fa-pencil-alt:hover{
    color: #E2EBF5;
  }
  
  .fa-trash:hover{
    color: #E2EBF5;
  }
  
  .fa-download:hover{
    color: #E2EBF5;
  }
  
  .fa-upload:hover{
    color: #E2EBF5;
  }
  
  table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
  }
  
  .tables{
    padding: 0 100px 50px 100px;
  }
  
  thead{
    background-color: #1B478A;
    color: white;
    font-size: 16px;
    text-align: center;
  }
  
  thead td{
    padding: 8px;
  }
  
  tbody tr{
    background-color: #F5F7FC;
    color: #3B3B3B;
    font-size: 15px;
    text-align: center;
  }
  
  tbody td{
    padding: 8px;
  }
  
  /* media queries--------------------------------------------------------------------- */
@media (max-width: 1200px) {
  .searchBar{
    background-color: white;
    min-height: 12%;
    max-height: 12%;
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 50px;
  }


  .info {
    border:  #1B478A 2px solid;
    background-color: white;
    color:   #1B478A;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .textbox{
    height: 35px;
    border: none;
    border-radius: 10px;
    outline: 0;
    width: 250px;
    padding: 10px;
    font-size: 16px;
  }
  
  .float-container{
    float: right;
    border: 2px solid  #1B478A;
    border-radius: 10px;
    height: 40px;
    width: 255px;
  }
  
  .tables{
    padding: 0 20px 50px 20px;
  }
  
}