@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: #505962;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*Sidebar Section*/
.wrapper{
  display: flex;
  width: 100%;
  height: 100%;
 
}

.sidebar{
	min-width: 316px;
	max-width: 316px;
	background-color: #143870;
  float: left;
  padding-top: 39px;
  transition: all 0.3s;
  height: 100vh;

}

.sidebar-header img{
	width: 146px;
	height: 118px;
  margin-bottom: 45px;
  margin-left: 78px;
}

.active{
  background-color: #1B478A;
}

.hide{
  margin-left: -316px;
}

ul li{
  height: 80px;
  width: auto;
  padding-left: 34px;
}

ul li:hover{
  background-color: #1B478A;
}

ul li img{
	width: 30px;
	height: 30px;
  margin-right: 14px;
  margin-top: 27px;
}

ul a li span{
  text-decoration: none;
  color: #E2EBF5;
  font-size: 20px;
  position: relative;
  top: 16px;
}

ul li a:hover{
  text-decoration: none;
  color: #E2EBF5;
}

/*Main Section----------------------------------------------------------------------------------------------------*/

.content{
  background-color: white;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*Navbar section----------------------------------------------------------------------------------------------------*/
.navbar{
  height: 60px;
  background-color: white;
  border-bottom: 2px solid #143870;
  color: #143870;
  
}

.navbar h4{
  font-weight: bold;
  font-size: 20px;
  margin-top: 13px;
  margin-left: 13px;
}

#sidebarCollapse{
  background-color: white;
  border: 1px solid #143870;
}

.fa-bars{
  color: #143870;
}

#logOut{
  background: #E2EBF5;
  border-radius: 27px;
  width: 120px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  padding-top: 3px;
  
}

#logOut:hover{
  background: #143870;
  border-radius: 27px;
  width: 120px;
  height: 30px;
  font-size: 14px;
  text-align: center;
  color: #E2EBF5;
}

/* media queries--------------------------------------------------------------------- */
@media (max-width: 1200px) {

    #sidenav {
        margin-left: -316px;
    }

    #sidenav.hide{
      margin-left: 0;
    }

}
