<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container-fluid">

            <button id="sidebarCollapse" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <i class="fas fa-bars"></i>
            </button>

            <h4>{{navbarTitle}}</h4>

            <button type="button" id="logOut" class="btn">
                <span>Log Out</span>
        </button>

        </div>
    </nav>

  </div>
</template>

<script>
export default {
  props: {
    'navbarTitle': String,
  }
 
}
</script>