<template>
  <div>
    <nav class="sidebar" id="sidenav">

    <div class="sidebar-header">
        <img src="../assets/img/logo.png">
    </div>

    <ul class="list-unstyled">
        <router-link to="/a">
            <li :class=" activeBtn == 'dashboard' ? 'active' : ''">
                <img src="../assets/img/icons/dashboard.png">
                <span>Dashboard</span>
            </li>
        </router-link> 

         <router-link to="/b">
            <li :class=" activeBtn == 'patron' ? 'active' : ''">
                <img src="../assets/img/icons/patron.png">
                <span>Patron Management</span>
            </li>
        </router-link> 

        <router-link to="/c">
            <li :class=" activeBtn == 'books' ? 'active' : ''">
                <img src="../assets/img/icons/books.png">
                <span>Book Management</span>
            </li>
        </router-link> 

        <router-link to="/d">
            <li :class=" activeBtn == 'settings' ? 'active' : ''">
                <img src="../assets/img/icons/settings.png">
                <span>Settings</span>
            </li>
        </router-link> 
    </ul>
    </nav>

  </div>
</template>

<script>

export default {
  props: {
    activeBtn: String
  }
};
</script>

<style lang="css">
  @import "../assets/css/style.css"; 
  @import "../assets/css/chart_style.css"; 
  @import "../assets/css/managementSections_style.css"; 
  @import "../assets/css/modals_style.css"; 
</style>