<template>
  <div id="app">
  
        <div class="tables-container">
          <div class="searchBar">
            <input type="button" value="Add Books" class="btn info" data-toggle="modal" data-target="#addBookModal">
            <div class="float-container">
              <input type="text" class="textbox" placeholder="Search">
            </div>
          </div>

          <div class="tables">
          <table>
            <thead>
              <tr>
                <td>Name</td>
                <td>Author</td>
                <td>Copies Available</td>
                <td>Categories</td>
                <td></td>
              </tr>
            </thead>

            <tbody>
              <tr v-for="book in books" :key="book.id">
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.copies }}</td>
                <td>{{ returnCategoryName(book.category_id)}}</td>
                <td>
                  <button class="edit" data-toggle="modal" data-target="#editBookModal" @click="returnUpdateInfo(book)">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button class="delete" data-toggle="modal" data-target="#deleteBookModal" @click="returnIndex(book.id)">
                    <i class="fa fa-trash"></i>
                  </button>
                  <button class="return">
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </button>
                  <button class="borrow" data-toggle="modal" data-target="#borrowBookModal" @click="returnNameIndex(book)">
                    <i class="fa fa-upload"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            
          </table>
      
      </div>

<!--modal section-------------------------- -->
    <!--Add Book section-------------------------- -->
      <div class="modal fade" data-backdrop="static" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<h3 class="modal-title">Add Book</h3>
						</div>

						<div class="modal-body">
							<form>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="bookName">Book Name:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" v-model="bookName"> 
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="authorName">Author:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" v-model="author">
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="bookCopies">Copies:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="number" class="form-control" v-model="copies">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="bookCategories">Categories:</label>
                    </div>
                    <div class="col-md-8">
                      <select name="categories" id="bookCategories" v-model="categories">
                        <option value="Romance">Romance</option>
                        <option value="Action">Action</option>
                        <option value="Mystery">Mystery</option>
                        <option value="Sci-Fi">Sci-Fi</option>
                        <option value="Horror">Horror</option>
                        <option value="Classic">Classic</option>
                        <option value="Fiction">Fiction</option>
                        <option value="Drama">Drama</option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
						</div>

						<div class="modal-footer">
              <a class="btn btn-primary" @click="addBook" data-dismiss="modal">Add Book</a>
							<button type="button" class="btn" data-dismiss="modal" @click="clearFields">Cancel</button>
						</div>
					</div>
				</div>
      </div>

<!--Edit Book section-------------------------- -->
      <div class="modal fade" data-backdrop="static" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<h3 class="modal-title">Edit Book</h3>
						</div>

						<div class="modal-body">
							<form>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="bookName">Book Name:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" v-model="bookName">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="authorName">Author:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" v-model="author">
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="bookCopies">Copies:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="number" class="form-control" v-model="copies" >
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="bookCategories">Categories:</label>
                    </div>
                    <div class="col-md-8">
                      <select name="categories" v-model="categories">
                        <option value="Romance">Romance</option>
                        <option value="Action">Action</option>
                        <option value="Mystery">Mystery</option>
                        <option value="Sci-Fi">Sci-Fi</option>
                        <option value="Horror">Horror</option>
                        <option value="Classic">Classic</option>
                        <option value="Fiction">Fiction</option>
                        <option value="Drama">Drama</option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
						</div>

						<div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal" @click="updateBook">Update</a>
							<button type="button" class="btn" data-dismiss="modal" @click="clearFields">Cancel</button>
						</div>
					</div>
				</div>
      </div>

  <!--Delete Book section-------------------------- -->
      <div class="modal fade" data-backdrop="static" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<h3 class="modal-title">Delete Book</h3>
						</div>

						<div class="modal-body">
							<h5>Remove book permanently?</h5>
						</div>

						<div class="modal-footer">
              <a class="btn btn-danger" @click="deleteItem" data-dismiss="modal">Delete</a>
							<button type="button" class="btn" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
      </div>

  <!--Borrow Book section-------------------------- -->
      <div class="modal fade" data-backdrop="static" id="borrowBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<h3 class="modal-title">Borrow Book</h3>
						</div>

						<div class="modal-body">
							<form>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="patron_id">Patron ID:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="number" class="form-control" v-model="patron_id"> 
                    </div>
                  </div> 
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="book_name">Book:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" v-model="book_name" readonly>
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="borrow_copies">Copies:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="number" class="form-control" v-model="borrow_copies">
                    </div>
                  </div>
                </div>

              </form>
						</div>

						<div class="modal-footer">
              <a class="btn btn-primary" @click="borrowBook" data-dismiss="modal">Borrow Book</a>
							<button type="button" class="btn" data-dismiss="modal" @click="clearFields">Cancel</button>
						</div> 
					</div>
				</div>
      </div>
    

    </div>

  </div>
</template>

<script>
import {navigationStore} from '../store/navigationStore.js'
import {bookStore} from '../store/bookStore.js'

export default {
  name: "App",
  beforeCreate: function() {
      navigationStore.commit('setNavbar', 'Books')
      navigationStore.commit('setButton', 'books')
      bookStore.dispatch('fetchBooks')
      bookStore.dispatch('fetchCategories')
  },
  data() {
    return {
      books: bookStore.getters.getBooks,
      categoryArray: bookStore.getters.getCategories,
      message: '',
      patron_id: '',
      book_id: '',
      category_id: '',
      book_name: '',
      borrow_copies: '',
      categoryName: '',
      bookName: '',
      author: '',
      copies: '',
      categories: '',
      indexCount: 0
    };
  },  
  methods: {
    addBook() {

      if (this.bookName == "")
        return this.$toast.warning("Book Name is required!");
      if (this.author == "")
        return this.$toast.warning("Author is required!");
      if (this.email == "")
        return this.$toast.warning("Number of Copies is required!");
      if (this.categories == "")
        return this.$toast.warning("Category is required!");

      var tempArray = {
          name: this.bookName,
          author: this.author,
          copies: this.copies,
          category_id: this.returnCategoryId(this.categories)
      }

      bookStore.dispatch('createBook', tempArray);
      this.clearFields();
      this.$toast.success("Book added successfully");

    },

    borrowBook() {

      if (this.patron_id == "")
        return this.$toast.warning("patron ID is required!");
      if (this.book_name == "")
        return this.$toast.warning("Book Name is required!");
      if (this.borrow_copies == "")
        return this.$toast.warning("Number of Copies is required!");

      var tempArray = {
          patron_id: parseInt(this.patron_id),
          copies: parseInt(this.borrow_copies),
          book_id: this.book_id
      }

      bookStore.dispatch('borrowBook', tempArray);
      this.$toast.success("Book borrowed successfully");
      this.clearFields();
    },

     updateBook() {

      if (this.bookName == "")
        return this.$toast.warning("Book Name is required!");
      if (this.author == "")
        return this.$toast.warning("Author is required!");
      if (this.email == "")
        return this.$toast.warning("Number of Copies is required!");
      if (this.categories == "")
        return this.$toast.warning("Category is required!");
    
      var tempArray = {
        id: this.book_id,
        name: this.bookName,
        author: this.author,
        copies: this.copies,
        category_id: this.category_id,
      }

      bookStore.dispatch('updateBook', tempArray, this.book_id);
      this.clearFields();
      this.$toast.info("Book updated successfully!");
    },

    returnCategoryName(id) {
       var item = this.categoryArray.find(category => category.id === id).category;
       return item;
    },

    returnCategoryId(categoryName) {
       var item = this.categoryArray.find(category => category.category === categoryName).id;
       return item;
    },

     returnIndex(index) {
      this.indexCount =  index;
    },

     returnNameIndex(val) {
      this.indexCount = this.books.indexOf(val);
      this.book_name = this.books[this.indexCount].name;
      this.book_id = this.books[this.indexCount].id;
    },

    returnUpdateInfo(val) {
      this.indexCount =  this.books.indexOf(val);
      this.book_id = this.books[this.indexCount].id;
      this.bookName = this.books[this.indexCount].name;
      this.author = this.books[this.indexCount].author;
      this.copies = this.books[this.indexCount].copies;
      this.book_id = this.books[this.indexCount].id;

      this.category_id = this.books[this.indexCount].category_id;
      this.categories = this.returnCategoryName( this.category_id);
    },

     clearFields() {
        this.bookName = '';
        this.author = '';
        this.copies = '';
        this.categories = '';
    },

     deleteItem() {
       bookStore.dispatch('deleteBook', this.indexCount);
       this.$toast.error("Book deleted successfully!");
    },
  }
}
</script>





