<template>
  <div id="app">

      <div id="charts" class="container-fluid">

        <div class="row">
          <div class="col-md-6">
            <div class="chart_container">
                <GChart id="barchart" class="chart"
                  type="ColumnChart"
                  :data="barData"
                  :options="barOptions"
                />
            </div>
          </div>

          <div class="col-md-6">
            <div class="chart_container">
                <GChart id="donutchart" class="chart"
                  type="PieChart"
                  :settings="{packages:['corechart']}"
                  :data="pieData"
                  :options="pieOptions"
                />
            </div>
          </div>
        </div>

      </div>
  </div>
      
</template>

<script>
import { GChart } from 'vue-google-charts'
import {navigationStore} from '../store/navigationStore.js'

export default {
  components: {
    GChart
  },
  beforeCreate: function() {
     navigationStore.commit('setNavbar', 'Dashboard')
     navigationStore.commit('setButton', 'dashboard')
  },
  data () {
    return {
      pieData: [
        ['Genre', 'Copies Borrowed',],
        ['Romance', 11],
        ['Mystery', 11],
        ['Sci-Fi', 11]
      ],
      pieOptions: {
            title: 'Popular Book Genres',
            pieHole: 0.4,
            colors:[ '#1B478A', '#EBF071', '#EF5D58'],
      },
      barData: [
        ['Month', 'Borrowed', 'Returned',],
        ['Jan', 20, 25],
        ['Feb', 15, 30 ],
        ['Mar', 15, 25 ],
        ['Apr', 15, 10],
        ['May', 30, 20],
        ['Jun', 25, 10]
      ],
      barOptions: {
          title: 'Borrowed and Returned Books',
          colors:[ '#EF5D58', '#EBF071'],
          bars: 'Vertical'
      }
     
    }
  }
}
</script>





