<template>
  <div id="app">

    <div class="wrapper">
      <Sidenav  :activeBtn="button" />

      <div class="content">
        <Navbar v-bind:navbarTitle="title" />
        <router-view />
      </div>

    </div>
  </div>
</template>

<script>
import Sidenav from '../components/Sidenav.vue'
import Navbar from '../components/Navbar.vue'
import {navigationStore} from '../store/navigationStore.js'

export default {
    components: {
        Sidenav,
        Navbar
    },
    computed: {
        title() {
          return navigationStore.getters.getTitle;
        },
        button() {
          return navigationStore.getters.getButton;
        }
    },
    
}
</script>