<template>
  <div id="app">

        <div class="tables-container">
          <div class="searchBar">
            <input type="button" value="Add Patron" class="btn info" data-toggle="modal" data-target="#addBookModal">
            <div class="float-container">
              <input type="text" class="textbox" placeholder="Search">
            </div>
          </div>

          <div class="tables">
           <table>
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Email Address</td>
                  <td>Date Registered</td>
                  <td></td>
                </tr>
              </thead>

              <tbody>
                <tr v-for="patron in patrons" :key="patron.id">
                  <td>{{ patron.last_name + ", " + patron.first_name + " " + patron.middle_name }}</td>
                  <td>{{ patron.email }}</td>
                  <td>{{ patron.created_at }}</td>
                  <td>
                    <button class="edit" data-toggle="modal" data-target="#editBookModal" @click="returnUpdateInfo(patron, patron.id)">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="delete" data-toggle="modal" data-target="#deleteBookModal" @click="returnIndex(patron.id)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              
            </table>
          </div>

        </div>
     

<!--modal section-------------------------- -->
    <!--Add Book section-------------------------- -->
      <div class="modal fade" data-backdrop="static" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<h3 class="modal-title">Add Patron</h3>
						</div>

						<div class="modal-body">
							<form>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="firstName">First Name:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="firstName" v-model="firstName">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="middleName">Middle Name:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="middleName" v-model="middleName">
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="lastName">Last Name:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="lastName" v-model="lastName">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="email">Email Address:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="email" class="form-control" id="email" v-model="email">
                    </div>
                  </div>
                </div>
              </form>
						</div>

						<div class="modal-footer">
              <a class="btn btn-primary" @click="addPatron" data-dismiss="modal">Add Patron</a>
							<button type="button" class="btn" @click="clearFields" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
      </div>


 <!--Edit Book section-------------------------- -->
      <div class="modal fade" data-backdrop="static" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<h3 class="modal-title">Edit Patron</h3>
						</div>

						<div class="modal-body">
							<form>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="firstName">First Name:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" v-model="firstName">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="middleName">Middle Name:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" v-model="middleName">
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="lastName">Last Name:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" v-model="lastName">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label for="email">Email Address:</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" v-model="email">
                    </div>
                  </div>
                </div>
              </form>
						</div>

						<div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal" @click="updatePatron">Update</a>
							<button type="button" class="btn" data-dismiss="modal" @click="clearFields">Cancel</button>
						</div>
					</div>
				</div>
      </div>

  <!--Delete Book section-------------------------- -->
      <div class="modal fade" data-backdrop="static" id="deleteBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					<div class="modal-content">

						<div class="modal-header">
							<h3 class="modal-title">Delete Patron</h3>
						</div>

						<div class="modal-body">
							<h5>Remove patron permanently?</h5>
						</div>

						<div class="modal-footer">
              <a class="btn btn-danger" @click="deleteItem" data-dismiss="modal">Delete</a>
							<button type="button" class="btn" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
      </div>
   
  </div>
</template>

<script>
import {navigationStore} from '../store/navigationStore.js'
import {patronStore} from '../store/patronStore.js'

export default {
  name: "App",
  beforeCreate: function() {
     navigationStore.commit('setNavbar', 'Patron')
     navigationStore.commit('setButton', 'patron')
     patronStore.dispatch('fetchPatrons')
  },
  data() {
    return {
      patrons: patronStore.getters.getPatrons,
      patron_Id: '',
      firstName: '',
      middleName: '',
      lastName: '',
      email: '',
      dateHolder: '',
      indexCount: 0
    };
  },
  methods: {
    addPatron() {

        if (this.firstName == "")
          return this.$toast.warning("First Name is required!");
        if (this.lastName == "")
          return this.$toast.warning("Last Name is required!");
        if (this.email == "")
          return this.$toast.warning("Email is required!");

        var tempArray = {
            last_name: this.lastName,
            first_name: this.firstName,
            middle_name: this.middleName,
            email: this.email,
        }

        patronStore.dispatch('createPatron', tempArray);
        this.clearFields();
        this.$toast.success("Patron added successfully");
      
    },
    updatePatron() {

      if (this.firstName == "")
          return this.$toast.warning("First Name is required!");
      if (this.lastName == "")
        return this.$toast.warning("Last Name is required!");
      if (this.email == "")
        return this.$toast.warning("Email is required!");

      var tempArray = {
          last_name: this.lastName,
          first_name: this.firstName,
          middle_name: this.middleName,
          email: this.email
      }

      patronStore.dispatch('updatePatron', tempArray, this.patronid);
      this.clearFields();
      this.$toast.success("Patron updated successfully!");
    },
    returnIndex(index) {
      this.indexCount =  index;
    },
    returnUpdateInfo(val, patronId) {
      this.indexCount =  this.patrons.indexOf(val);
      this.patron_Id = patronId;
      this.firstName = this.patrons[this.indexCount].first_name;
      this.middleName = this.patrons[this.indexCount].middle_name;
      this.lastName = this.patrons[this.indexCount].last_name;
      this.email = this.patrons[this.indexCount].email;
      this.dateHolder = this.patrons[this.indexCount].created_at;
    },
    deleteItem() {
       patronStore.dispatch('deletePatron', this.indexCount);
       this.$toast.error("Patron deleted successfully!");
    },
    clearFields() {
        this.firstName = '';
        this.lastName = '';
        this.middleName = '';
        this.email = ''; 
    }
  }
}
</script>

