<template>
  <div id="app">
  </div>
</template>

<script>
import {navigationStore} from '../store/navigationStore.js'

export default {
  name: 'App',
  beforeCreate: function() {
     navigationStore.commit('setNavbar', 'Settings')
     navigationStore.commit('setButton', 'settings')
  }
}
</script>





