@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: #22295F!important;
}

.navbar-brand img{
  height: 35px;
  margin-left: 30px;
}

.navbar-nav li {
  padding-right:.6rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #FF9158; 
}  

#navbarResponsive {
  text-align: center
}


/*Landing Page------------------------------------------------------*/

.landing{
  top: 5%;
  position: absolute;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.landing img{
  width: 100%;
}

.caption {
  width: 100%;
  max-width: 100%;
  padding-top: 40%;
  color:black;
 
}

.caption h3 {
  font-size: 1.9rem;
  padding-bottom: 1.2rem;
}

.button {
  background-color: #FF9158;
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 30px;
  height: 45%;
  width: 30%;
  padding-top: 13px;

}

.button:hover{
  border-color: #FF9158;
  color: #FF9158;
  border-style: solid;
  text-decoration: none;
  border-width: medium;
  background-color: rgba(0,0,0,0)!important;
  padding-top: 14px;
}


/*Services-------------------------------------------------------------------*/

#services{
  margin-bottom: 8.6%;
}

.div_2{
  top: 100%;
  position: absolute;
  width: 105%;
  height: 100%;
  z-index: -2;
}

.div_2 img{
   width: 100%;
   margin-top: 2%;
}


.services-desc{
  width: 100%;
  max-width: 100%;
  padding-top: 12%;
  padding-left: 8%;
  
}

.services-desc h3{
  text-align: center;
  font-size: 2.5rem;
  color: white;
}

.services-desc hr{
  width: 38%;
  align-self: center;
  border-top: 3px solid; 
   color: white;
}

.services-desc p{
  text-align: justify;
  text-justify: inter-word;
  color: white;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}



/*Portfolio-------------------------------------------------------------------*/
 /*#portfolio{  
  margin-top: 14%;
 }*/

 #porfolio-wrapper{
   position: absolute;
   width: 105%;
   height: 100%;
   z-index: -1;
 }

 .div_3{
  position: absolute;
  width: 105%;
  height: 100%;
  z-index: -2;
}

.div_3 img{
   width: 100%;

}

.portfolio-item{
 padding: 2% 10% 2% 10%;
}

.desc-cell{
  padding-top: 20%;
}

.desc-cell h3{
 float: left;
 font-size: 50px;
 margin-top: 3px;
 color: #FF9158;
}

.desc-cell h4{
  margin-left: 13%;
  font-size: 35px;
  padding-top: 1.5%;
  color: #22295F;
}

.desc-cell hr{
  width: 72%;
  border-top: 3px solid; 
  color: #22295F;
  margin-top: 0px;

}

.desc-cell p{
  margin-left: 13%;
  margin-right: 12%;
  text-align: justify;
  text-justify: inter-word;
  font: 16px;
}

.img-cell img{
  max-width: 82%;
  height: auto;
}

.arrow-1 img{
  max-width: 18%;
   display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.arrow-2 img{
  max-width: 17%;
   display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27%;
}

.arrow-3 img{
  max-width: 20%;
   display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16%;
}


/*Testimonies-------------------------------------------------------------------*/
#testimonies img{
  margin-top: 16%;
  max-width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#testimony-img img{
  width: 100%;
}

/*About Us-------------------------------------------------------------------*/

#about{
  background-color: #22295F;
}

#about img{
  width: 40%;
  float: right;
  margin-right: 10%;
}

.about-desc{
  padding: 3%;
}

.line{
  border-left: 3px solid white;
  height:120px;
  float: right;
}

#about p{
  color: white;
  margin-right: 10%;
}

.icons img{
  float: left;
  max-width: 10%;
}

.icons{
  top: 5%;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 2%;
}

.copyright{
  margin-right: auto;
  margin-left: auto;
}

.copyright p{
  text-align: center;
}