
.modal-header{
    background-color: #143870;
    color: white;
    height: 55px;
}

#deleteBookModal .modal-header{
    background-color: white;
    color: #3B3B3B;
}

.modal-title{
    font-size: 20px;
    margin-top: 0;
}

.form-group{
    display: flex;
}

.modal-dialog{
    max-width: 35%;
}

.form-group .row{
    width: 100%;
}

.form-group label{
    float: right;
    font-size: 18px;
    color: #3B3B3B;
}

form{
    padding-top: 35px;
}

.btn-primary{
    background-color: #143870;
    border: none;
}

.btn-primary:hover{
    background-color: #1B478A;
}

.form-group input{
    background-color: #E2EBF5;
}

.form-group select{
    background-color: #E2EBF5;
    width: 100%;
    border: none;
    height: 40px;
    padding-left: 10px;
}

.modal-footer{
   margin: auto;
}

/* media queries--------------------------------------------------------------------- */
@media (max-width: 1200px) {
    .modal-dialog{
        max-width: 70%;
    }

    .form-group label{
        float: left;
       
    }
    
    .modal{
        margin: auto;
    }
}